@font-face {
  font-family: 'Uni Sans Heavy';
  src: url(fonts/Uni\ Sans\ Heavy.otf);
}

@font-face {
  font-family: 'Uni Sans Thin';
  src: url(fonts/Uni\ Sans\ Thin.otf);
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Light.ttf);
}

html, body {
  height: 100vh;
  background-image: linear-gradient(
    55deg,
    hsl(178deg 82% 35%) 0%,
    hsl(79deg 53% 51%) 33%,
    hsl(39deg 100% 50%) 52%,
    hsl(26deg 100% 50%) 100%
  );
}

h1, h2 {
  font-family: 'Uni Sans Heavy';
}

.button {
  font-size: 1.17em;
}

input, label, p, a, .button {
  font-family: 'Roboto';
}

.login-container {
  background: rgba( 255, 255, 255, 0.10 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.20 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.35 );
}

.login-button button {
  border: none;
  color: #FFFFFF;
  background-color: #007965;
}

input {
  border: none;
  outline: none;
  background: rgba( 255, 255, 255, 0.35 );
  position: relative;
  font-size: 16px;
  transition: all .3s ease-out;
  padding: .5rem 1rem;
}

/* .label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

label {
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  position: absolute;
  top: 0.6rem;
  left: 4rem;
  margin-top: 0.9rem;
  transition: all .2s;
}

.label-float input:focus + label,
.label-float input:valid + label {
  color: rgba(0, 0, 0, 0);
} */

.link a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all .1s;
}

.link a:hover {
  text-decoration: underline;
  color: #131313f1;
}

.register-button {
  text-decoration: none;
  background-color: #007965;
  color: #FFFFFF;
}